.cx-visual-menu-list span {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: #4D90FE; */
  /* color: #fff; */
  /* font-weight: bold; */
}

.purple-grad {
  background: -webkit-linear-gradient(left, #5a1b75, #a3238e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5a1b75, #a3238e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5a1b75, #a3238e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5a1b75, #a3238e);
  /* Standard syntax */
  color: #fff;
}

.black-grad {
  background: -webkit-linear-gradient(left, #000000, #afb1b4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #000000, #afb1b4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #000000, #afb1b4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #000000, #afb1b4);
  /* Standard syntax */
  color: #fff;
}

.red-grad {
  background: -webkit-linear-gradient(left, #a00963, #ed0874);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #a00963, #ed0874);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #a00963, #ed0874);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #a00963, #ed0874);
  /* Standard syntax */
  color: #fff;
}

.blue-grad {
  background: -webkit-linear-gradient(left, #005595, #00bcf2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #005595, #00bcf2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #005595, #00bcf2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #005595, #00bcf2);
  /* Standard syntax */
  color: #fff;
}

.green-grad {
  background: -webkit-linear-gradient(left, #0d7a33, #8cc63f);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #0d7a33, #8cc63f);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #0d7a33, #8cc63f);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #0d7a33, #8cc63f);
  /* Standard syntax */
  color: #fff;
}

.orange-grad {
  background: -webkit-linear-gradient(left, #d13d1e, #fcb315);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d13d1e, #fcb315);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d13d1e, #fcb315);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #d13d1e, #fcb315);
  /* Standard syntax */
  color: #fff;
}

.grey-grad {
  background: -webkit-linear-gradient(left, #939598, #b6c4cb);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #939598, #b6c4cb);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #939598, #b6c4cb);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #939598, #b6c4cb);
  /* Standard syntax */
  color: #fff;
}

.yellow-grad {
  background: -webkit-linear-gradient(left, #fcb315, #ffd800);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #fcb315, #ffd800);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #fcb315, #ffd800);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fcb315, #ffd800);
  /* Standard syntax */
  color: #fff;
}

.drkblue-grad {
  background: -webkit-linear-gradient(left, #005288, #0073ae);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #005288, #0073ae);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #005288, #0073ae);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #005288, #0073ae);
  /* Standard syntax */
  color: #fff;
}

.drkgreen-grad {
  background: -webkit-linear-gradient(left, #00a386, #7cccbf);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #00a386, #7cccbf);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #00a386, #7cccbf);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00a386, #7cccbf);
  /* Standard syntax */
  color: #fff;
}