.dln-list-filter-tag {
    display: inline-block;
    margin-bottom: 5px;
    background-color: $brand-info;
    color: #fff;
}

.dln-list-filter-tag:hover,
.dln-list-filter-tag:active,
.dln-list-filter-tag:focus,
.dln-list-filter-tag.active {
    background-color: $brand-primary;
    color: #fff;
}